@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body{
  font-family: 'Inconsolata', monospace;
  background-color: #1e1e1e;
  color: white;
}
.metadata-list {
  display: flex;
  flex-direction: column;
  left: 0;
  padding-right: 15px;
}

log-viewer {
  display: flex;
  flex-direction: column;
}
log-group {
  display: flex;
  flex-direction: row;
}

log-exception {
  margin-right: 0.5em;
}

.left-content {
  position: absolute;
  left: 0;
  background-color: inherit;
  width: 380px;
}

.group-tab {
  display: flex;
  margin-right: 2px;
  margin-right: 4px;
}
.group-tab div {
  height: auto;
  border-left: solid;
  border-width: 1px;
  width: 0px;
  padding-left: 4px;
  margin-left: 4px;
}

.hidden {
  display: none;
}

.ruler-open {
  margin-top: 8px;
  border-top: solid;
}

.ruler-close {
  margin-bottom: 8px;
  border-bottom: solid;
}

.group-tab-open div{
  border-top: solid;
  margin-top: 5px;
  border-width: 1px;
}

.group-tab-close div{
  border-bottom: solid;
  border-width: 0.5px;
  margin-bottom: 5px;
}

.log-content {
  min-width: 85%;
  width: 85%;
  display: flex;
  flex-direction: column;
}

.log-text {
  white-space: pre-wrap;
}

log-exception {
  white-space: pre-wrap;
  border: solid;
  border-width: 1px;
  padding-left: 15px;
}

.log-content:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.group-tab{
  cursor: pointer;
}

log-entry {
  min-height: 1.1em;
  line-height: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.metadata-date {
  white-space: pre;
}

group-summary {
  display: flex;
}

.slider {
  padding-left: 5px;
  padding-right: 5px;
  cursor: col-resize;
}
.slider div {
  border-left: solid;
  border-width: 1px;
  border-color: rgb(56,56,61);
  width: 1px;
  height: 100%;
}

.badge {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  height: 100%;
  font-size: 9pt;
}

.small-badge {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  height: 100%;
  font-size: 9pt;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: pre-wrap;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color:white;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}



.error {
  color: red;
  border-color: red;
}

.info {
  color: #00a6e3;
  border-color: #00a6e3;
}

.debug {
  color: #5c5c5c;
  border-color: #5c5c5c;
}

.trace {
  color: #cccccc;
  border-color: #cccccc;
}

.warn {
  color: rgb(221, 199, 2);
  border-color: rgb(221, 199, 2);
}

.fatal {
  color: darkred;
  border-color: darkred;
  background-color: yellow;
}

.none {
  color: purple;
  border-color: purple;
}

.tags-tooltip{
  position: absolute;
  left: 320px;
}

.tags-tooltip-content {
  visibility: hidden;
  height: 1.1em;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 339px;
  background-color: #1e1e1e;
  word-wrap: break-word;
  transform: translate(-50%, 0);
  min-width: 38px;
  padding: 0 8px 0 8px;
}

.tags-tooltip:hover ~ .tags-tooltip-content {
  visibility: visible;
}

.tags-tooltip-content:hover {
  visibility: visible;
}

.monitorId{
  position: absolute;
  left: 270px;
}


.upload-button {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.upload-button svg {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.upload-button svg {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.download-button {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.download-button svg {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.st0{fill:#fff;fill-rule:evenodd;clip-rule:evenodd;}

.buttons-toolbar {
  display: flex;
}

.buttons-toolbar div {
  margin: 2px;
}
